@model littlebreadloaf.Data.Blog

<div class="border-bottom border-top">
    <h1 class="text-center text-uppercase py-1">@Model.Title</h1>
    <div class="mb-2">
        @await Component.InvokeAsync("User", new{
                                            userID = Model.UserID.ToString(),
                                            showInstagram = true,
                                            showLastName = true
                                        })
    </div>
    <h6 class="text-muted"><i class="fa fa-calendar" aria-hidden="true" title="Created"></i> @Html.DisplayFor(c => c.Created)</h6>
</div>

<p>@Html.Raw(@Model.Content)</p>
<br />