@page
@model CartCheckoutModel
@{
    ViewData["Title"] = "Cart Checkout";
}

<h1>Cart Checkout</h1>

<li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
<li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
