@page

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model AboutModel
@{
    ViewData["Title"] = "About me";
    ViewData["ReturnURL"] = Url.Page("/About");
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<img class="img-fluid" src="~/images/about/ABOUT_ME_BANNER.jpg" />

<h3 class="mt-2">
    Me and my short story about Polish bread in New Zealand.
</h3>

<br />

<p>
    My name is Ewa Adams and I run probably the smallest artisan bakery
    in the world. It might be small but thanks to that you can be sure bread
    you buy here is fresh and contains natural ingredients only.
</p>

<p>
    This website lets you order fresh sourdough bread and bread products
    to be delivered* to your doorstep (Wellington, Peotone and Lower Hutt)
    or being picked up from my bakery in Lower Hutt.
</p>


BREAD IN POLISH TRADITION
<p>
    In Poland, where I come from we eat and bake A LOT of bread. There
    are hundreds of bakeries only in Warsaw and probably thousands in
    the whole country. We are addicted to a good bread and a good bread
    is mandatory ingredient in every Polish kitchen. Over 96%
    of Polish households buy bread on a daily basis.
</p>


WHAT IS POLISH BREAD
<p>
    Polish bread is based on rye wholemeal flour and sourdough starter.
    Loaf should be dense inside and crunchy on the outside. Heavy but
    easy to digest. Contains a lot of seeds and is naturally fermented.
    Healthy and keeps you full for hours.
</p>


GOOD FLOUR, SALT AND WATER ONLY
<p>
    That is what you need to make a good sourdough bread and that is
    what my motto is. Please read the labels on bread you buy and treat
    yourself and your friend and family to a good bread only.
</p>

<p>
    Enjoy browsing!
    Ewa
    *minimum delivery amount is $@Model.ViewData["MinumumDelivery"]
</p>




