@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<br />
<h3>@Model.Message</h3>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a consequat nibh, non tristique orci. Integer vestibulum metus quis fermentum volutpat. Cras rhoncus porta sem, eget faucibus turpis aliquam ut. In hac habitasse platea dictumst. Vivamus molestie finibus leo ut lacinia. Nam dictum diam id tortor facilisis molestie. Sed metus diam, laoreet quis condimentum ac, molestie vel nisl.

    Quisque aliquam augue non dui feugiat, quis condimentum dolor bibendum. Nam bibendum sed purus sed aliquam. Integer ut quam turpis. Aliquam in tellus ornare, pretium lorem nec, semper nunc. Vestibulum molestie sodales purus, at vulputate erat auctor non. Suspendisse maximus lacus tortor, in aliquet sapien volutpat nec. Mauris at luctus justo. Duis sagittis ipsum non sapien fringilla iaculis.

    Nullam facilisis risus at porttitor volutpat. Nullam nec finibus enim. Fusce non mauris velit. Nullam justo erat, placerat id feugiat a, pellentesque non magna. Aliquam ut lacinia felis, eu fermentum metus. Integer lobortis metus quis risus finibus lacinia. Praesent rutrum ligula ac felis lacinia, nec faucibus turpis suscipit.

    Curabitur aliquam sollicitudin velit, egestas sodales odio dictum quis. Aliquam sem dui, consequat in nisi eget, tempus euismod ipsum. Vivamus quis arcu rutrum tellus egestas elementum et imperdiet nulla. Aenean ultrices quam lorem, pellentesque tristique arcu tristique et. Sed et ligula vitae felis dignissim scelerisque. Ut dolor purus, venenatis a turpis et, sodales mattis diam. Donec at maximus lacus. Nulla feugiat ultrices sem, ac cursus mauris pulvinar sed.

    Cras sit amet dolor tellus. Vivamus ut libero mollis, convallis ante quis, blandit magna. Nunc feugiat vel dolor at pretium. Curabitur vel arcu ipsum. Ut commodo turpis non neque aliquam, et viverra sem tincidunt. Ut sed tempus nulla, eu ultrices lacus. Sed tincidunt massa sed velit bibendum sodales. Vivamus hendrerit rutrum fermentum. Fusce at lectus ultricies, lobortis enim a, aliquam risus. Suspendisse pretium erat nec ex ultricies, feugiat congue orci gravida. Quisque lacinia orci vel quam dapibus, in pulvinar tellus mattis. Curabitur malesuada ligula et mauris accumsan interdum.

    Mauris at viverra ligula. Phasellus felis tellus, condimentum sodales rhoncus sed, tincidunt at orci. Aenean at sodales nunc, in varius ex. Maecenas mollis finibus nibh, non mollis sem elementum non. Nam vel tellus diam. Nullam tincidunt, est vitae lobortis pharetra, mauris ipsum porta quam, id pellentesque arcu tortor nec justo. Proin pellentesque libero vitae erat tincidunt aliquet. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Mauris molestie dignissim massa tincidunt dignissim. Aenean a ante elit. Donec mi lectus, faucibus imperdiet augue finibus, aliquet commodo tortor. Sed semper blandit sapien, ac semper nulla vulputate at. Donec nec lectus lacus.

    Pellentesque feugiat dapibus risus euismod lobortis. Duis quis faucibus urna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent mattis id erat at consequat. Cras convallis nisl quis dictum commodo. Proin malesuada orci a nibh viverra auctor. Sed consequat ligula elementum ultrices molestie. Suspendisse placerat sit amet ligula quis placerat. Cras tristique fermentum nibh, ac ultricies felis congue non. In eget semper leo, non accumsan nibh.

    Duis fringilla bibendum metus id consequat. Vivamus ultrices pretium leo, at sagittis augue vehicula pretium. Fusce tempus ante a mi fringilla ultricies. Proin mauris magna, lobortis a elementum a, viverra ut tortor. Phasellus accumsan, nibh nec porttitor cursus, nisi purus consequat leo, vitae efficitur nisl quam sit amet diam. Aliquam eget mauris ut quam gravida aliquet ullamcorper sed libero. Quisque dui nunc, accumsan non nulla eget, accumsan dictum ex. Maecenas nisi dui, bibendum quis varius a, pulvinar ac mauris. Ut consequat semper sem, vel egestas diam feugiat vitae. Curabitur commodo magna ut purus maximus, vel malesuada lectus sodales. Nunc dapibus orci velit, vel commodo ligula facilisis non. Proin sollicitudin porta hendrerit. Suspendisse potenti.

    Praesent rhoncus sollicitudin pellentesque. Curabitur diam velit, facilisis non massa accumsan, rutrum convallis augue. Donec aliquet velit vitae mi porta porta. Duis scelerisque massa quis scelerisque eleifend. Ut rutrum aliquam urna at iaculis. Sed posuere bibendum eros. Duis tristique maximus purus, vitae accumsan est porttitor et.

    Fusce id suscipit lorem. Phasellus ullamcorper nisi et urna eleifend lobortis. Fusce laoreet est vel justo posuere, et condimentum velit porta. Donec vitae mi vitae metus vestibulum rutrum a quis orci. Vestibulum elit neque, rhoncus sit amet odio eget, fermentum blandit risus. Etiam egestas lacus ut faucibus vestibulum. Suspendisse dignissim accumsan dui sit amet imperdiet. Ut ut tincidunt lorem. Cras ut lectus ac justo pharetra mollis sit amet quis ex. Etiam in libero non nulla molestie facilisis quis sed metus. Duis ultrices, tellus eget ullamcorper tempor, metus est aliquam ligula, et dignissim diam est euismod sem. Vestibulum eu lacus consequat, condimentum arcu sed, consectetur nibh. Etiam et neque elementum, placerat purus convallis, vestibulum odio. Vivamus imperdiet metus a ante suscipit tempus. Nam mollis leo et lacus commodo, vitae fermentum enim imperdiet.
</p>

<br />
<h3>Attribution</h3>
<p>This work is based on/includes LINZ’s data which are licensed by <a href="https://www.linz.govt.nz/">Land Information New Zealand (LINZ)</a> for re-use under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International licence</a>.</p>