@page
@model AboutModel
@{
    ViewData["Title"] = "About me";
    ViewData["ReturnURL"] = Url.Page("/About");
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<img class="img-fluid" src="~/images/about/ABOUT_ME_BANNER.jpg" />

<h3 class="mt-2">
    Me and my short story about Polish bread in New Zealand.
</h3>

<br />

<p>
    My name is Ewa (eh-v-uh) and I am Polish. I came to New Zealand in June
    2017. 6 months later I decided to open my own micro-bakery with traditional
    Polish sourdough bread.
</p>
<p>
    <strong>
        To make you understand me
        better (and before you go any further) you must know that Poles organisms are
        made in 40% of bread (the rest are potatoes mixed with the p a s s i o n for
        either love, hate or vodka).
    </strong>
</p>
<p>
    If I would have to point 3 traditional P o l i s h  things I am
    really p r o u d of  I would go with Chopin’s music, Polish v o d k a and
    Polish Bread.
</p>
<p>
    With Spotify and Wellington liquor stores, I have an easy access to the
    music and alcohol. The problem I was struggling with here in New Zealand was in
    fact lack of Polish bread. I was looking for a bakery where I could go in the
    morning and buy cheap, warm, smelling like my mom’s kitchen bread.
</p>
<p>
    One day, I was Face Timing my mom, and I was complaining about how I
    miss “our” bread.
</p>
<p>
    “Why won’t you make your own Polish bread?” - she said.
</p>
<p>
    And so  I   d i d.
</p>
<p>
    Welcome to my world where I will share my love to the Polish Bread with
    you.
</p>
<p>
    Smacznego! (means ‘enjoy’)
</p>
<p>
    Ewa
</p>

