@page
@model littlebreadloaf.Pages.AboutModel
@{
    ViewData["Title"] = "About me";
    ViewData["ReturnUrl"] = "/About";
    ViewData["PreOrder"] = Model.IsPreOrder;

}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">About me</li>
    </ol>
</nav>

@*<img class="img-fluid" src="~/images/banners/ABOUT_ME_BANNER.png" />*@

<div class="jumbotron justify-content-md-center">

    <div>
        <h2>Meet the Little Bread Loaf team</h2>
        <h4 class="mt-4">
            Lynda - Co-Owner <br />
            <span class="text-secondary">(Ngāti Raukawa ki te Tonga, Ngāti Kahungunu, Ngāti Kuia, Te Atiawa, Te Whānau a Apanui, Te Atihaunui a Pāpārangi)</span>
        </h4>
        <p class="lead mt-3">
            My name is Lynda McGregor, and I am one half of the dynamic duo that makes up Little Bread Loaf
        </p>
        <p class="lead">
            I am a foodie through and through and have always had a passion for baking and looking after people, manaakitanga is at the centre of who I am.
        </p>
        <p class="lead">
            I originally trained as a chef over 30 years ago, and have had a long and varied career outside of the food industry since - which seems to have come full circle now as I look forward to absolutely making the most of this fantastic opportunity.
        </p>
        <p class="lead">
            Looking forward to seeing you in the bakery soon!
        </p>

    </div>

</div>

<hr />

<div class="mb-3">
    <div class="">
        <div class="row">
            <div class="col-sm-4">

                <blockquote class="block-quote">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p class="mb-0">Seriously delicious bread! nothing like anything else i have tried before. the drozdzowka was amazing - it was soft inside and had a crunchy and sweet crust on top! Ewa and her bread are a definite hidden gem in wellington</p>
                </blockquote>
            </div>
            <div class="col-sm-4">

                <blockquote class="block-quote">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p class="mb-0">Absolutely delicious, fresh, crusty bread. My personal favorite - sourdough baguettes!!!! Not sure if they are better on the first day or the second when you can toast them... SOOOOO YUMMY Polish bread at its best. Do not miss out on this little gem!</p>
                </blockquote>
            </div>
            <div class="col-sm-4">

                <blockquote class="block-quote">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p class="mb-0">Amazing bread and donuts!! Everything is always fresh and delicious, plus Ewa is very friendly and welcoming. Would definitely recommend.</p>
                </blockquote>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4">

                <blockquote class="block-quote">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p class="mb-0">Best bread in Wellington. If you're coming from Europe and miss sourdough-style bread, you won't be disappointed.</p>
                </blockquote>
            </div>
            <div class="col-sm-4">

                <blockquote class="block-quote">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p class="mb-0">Love the bread! Great quality and love the loaf with the sesame seeds.</p>
                </blockquote>
            </div>
            <div class="col-sm-4">

                <blockquote class="block-quote">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p class="mb-0">Soooo good! Reminds me of my European holidays!</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
