@page
@model littlebreadloaf.Pages.BakeryModel
@{

    ViewData["Title"] = "Bakery";
    ViewData["ReturnURL"] = Url.Page("/Bakery");
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Bakery</li>
    </ol>
</nav>

<img class="img-fluid" src="~/images/banners/BAKERY.png" />

<div class="jumbotron justify-content-md-center">

    <p class="lead font-weight-bold">
        Little Bread Loaf is located in Lower Hutt (Alicetown) on the back of 31a Railway Avenue in Papa's Cakes Shop
        (easiest entrance by 31 Marsden Street – please see the map below)
    </p>

    <p class="lead">
        The best way to find us is to:
        <ol>
            <li class="lead">Drive up to 31 Marsden Street opposite side to big red City Church building</li>
            <li class="lead">Take turn into a little aisle between Spark and Panasonic buildings</li>
        </ol>
    </p>

    <p class="lead">
        Once you find me you will keep coming back :)
    </p>
</div>
<img class="img-fluid" src="~/images/banners/MAP.PNG" />

@*<div class="jumbotron justify-content-md-center">
    <h5>LEVEL 2</h5>
    <p>
        BAKERY OPENING HOURS: FRIDAY <strong>11:00 AM - 2 PM.</strong> <br />
        DURING LEVEL 2 WE KEEP TAKING PREORDERS. <br />
        DELIVERY SLOTS ARE LIMITED.
    </p>
</div>*@

<div class="jumbotron justify-content-md-center">
    <h5>Opening hours</h5>
    <dl>
        <dd class="lead text-danger">MONDAY – CLOSED</dd>
        <dd class="lead text-danger">TUESDAY – CLOSED</dd>
        <dd class="lead text-danger">WEDNESDAY – CLOSED</dd>
        <dd class="lead">THURSDAY – 10AM - 3PM</dd>
        <dd class="lead">FRIDAY – 10AM – 5PM</dd>
        <dd class="lead">SATURDAY – We are at the Newtown farmers market and Thorndon farmers market in Wellington. The bakery is closed.</dd>
        <dd class="lead text-danger">SUNDAY – CLOSED</dd>
    </dl>
</div>

