@page
@model littlebreadloaf.Pages.BakeryModel
@{

    ViewData["Title"] = "Bakery";
    ViewData["ReturnURL"] = Url.Page("/Bakery");
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Bakery</li>
    </ol>
</nav>

<img class="img-fluid" src="~/images/banners/BAKERY.png" />

<div class="jumbotron justify-content-md-center">
    <p class="lead">
        In Alicetown, hidden in the backyard there is the smallest bakery in
        the world. It doesn’t face the street and sometimes when wind puts all
        the street signs down it is impossible to find it. Even gogle maps
        doesn’t show our little internal aisle, so if you haven’t been to my
        bakery yet please read directions below carefully:
    </p>

    <p class="lead font-weight-bold">
        We are located on the back of 31a Railway Avenue
        (entrance by 31 marsden street – please see the map)
    </p>

    <p class="lead">
        The best way to find us is to:
        <ol>
            <li class="lead">Drive up to 31 marsden street opposite side to big red City church building</li>
            <li class="lead">Take turn into a little aisle between spark and Panasonic buildings</li>
        </ol>
    </p>

    <p class="lead">
        Once you find me you will keep coming back.
    </p>
</div>

<img class="img-fluid" src="~/images/banners/MAP.PNG" />
<div class="jumbotron justify-content-md-center">

    <h5>Opening hours</h5>
    <dl>
        <dd class="lead text-danger">MONDAY – CLOSED</dd>
        <dd class="lead text-danger">TUESDAY – CLOSED</dd>
        <dd class="lead text-danger">WEDNESDAY – CLOSED</dd>
        <dd class="lead">THURSDAY – 11AM – 2PM</dd>
        <dd class="lead">FRIDAY – 11AM – 3PM</dd>
        <dd class="lead">SATURDAY 11AM-3PM</dd>
    </dl>
</div>

