@page
@model littlebreadloaf.Pages.MarketsModel
@{
    ViewData["Title"] = "Markets";
    ViewData["ReturnURL"] = Url.Page("/Markets");
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Farmers markets in Wellingon</li>
    </ol>
</nav>

<img class="img-fluid" src="~/images/banners/FARMERS_MARKET.png" />
<div class="jumbotron justify-content-md-center">
    <h5>Farmer's markets in Wellington</h5>
    <p class="lead">

        On the weekends, you can find Little Bread Loaf stalls at the
        farmers markets in Wellington. There are exceptions of course as
        these events strongly depend on weather conditions. <br /><br />

        However, every not rainy and not heavy windy weekend you can
        find my bread at two farmers markets in Wellington and enjoy my
        fresh baking!
    </p>

</div>

<img class="img-fluid" src="~/images/banners/FARMERS_MARKET2.png" />
<div class="jumbotron justify-content-md-center">

    <h5>Saturdays 7:30AM – 1:30PM</h5>
    <dl>
        <dd class="lead">Newtown Farmers Market - On mein street by the newtown school and nearby to the newtown hospital</dd>
    </dl>

    <h5>Sundays 7:30AM – 2PM</h5>
    <dl>
        <dd class="lead">Victoria Street Farmers Market  - Willis street corner</dd>
    </dl>
</div>

