@page
@model littlebreadloaf.Pages.MarketsModel
@{
    ViewData["Title"] = "Markets";
    ViewData["ReturnURL"] = Url.Page("/Markets");
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Markets</li>
    </ol>
</nav>