
<footer class="fixed-bottom bg-dark text-center p-1" style="color:rgba(255,255,255,.75);">
    <div>
        <h6 class="d-inline-block">&copy; @DateTime.Now.Year - Little Bread Loaf</h6>
        <small class="d-inline-block float-right"><a href="#" class="footer-link">Link</a></small>
    </div>
</footer>