
<footer id="footer" class="bg-dark p-3">
    
    <div class="container">
        <div class="row text-center border-bottom">
            <div class="col-12">
                <h5>&copy; @DateTime.Now.Year - Little Bread Loaf</h5>
            </div>
        </div>

        <div class="row pt-1">
            <!--COLUMN 1-->
            <div class="col-md-4 col-sm-6 border-bottom d-flex flex-row justify-content-center">
                <div>
                    <h6 class="text-uppercase text-center">Navigation</h6>
                    <ul class="list-unstyled align-self-center">
                        @*<li><a asp-page="/Products/ProductList"><i class="fa fa-shopping-bag fa-fw" aria-hidden="true" title="Online shopping"></i> Online shopping</a></li>*@
                        <li><a asp-page="/Bakery"><i class="fa fa-map-marker fa-fw" aria-hidden="true" title="Bakery"></i> Bakery</a></li>
                        @*<li><a asp-page="/Service/Service"><i class="fa fa-car fa-fw" aria-hidden="true" title="Service"></i> Service</a></li>*@
                        <li><a asp-page="/Markets"><i class="fa fa-shopping-basket fa-fw" aria-hidden="true" title="Farmers markets"></i> Farmers markets</a></li>
                        <li><a asp-page="/Blog/BlogList"><i class="fa fa-book fa-fw" aria-hidden="true" title="Blog"></i> Blog</a></li>
                        <li><a asp-page="/About"><i class="fa fa-question-circle-o" aria-hidden="true" title="About me"></i> About me</a></li>
                    </ul>
                </div>
            </div>

            <!--COLUMN 2-->
            <div id="footer-social" class="col-md-4 col-sm-6 text-center border-bottom">
                <div class="col">
                    <div class="row d-block border-bottom">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <h1>
                                    <a href="https://www.facebook.com/littlebreadloaf/" aria-label="Facebook"><i class="fa fa-facebook-official" aria-hidden="true" title="Facebook"></i></a>
                                </h1>
                            </li>
                            <li class="list-inline-item">
                                <h1>
                                    <a href="https://www.instagram.com/littlebreadloaf/" aria-label="Instagram"><i class="fa fa-instagram" aria-hidden="true" title="Instagram"></i></a>
                                </h1>
                            </li>
                            <li class="list-inline-item">
                                <h1>
                                    <a href="mailto:polishbreadinwellington@gmail.com" aria-label="Email"><i class="fa fa-envelope-o" aria-hidden="true" title="Email"></i></a>
                                </h1>
                            </li>
                        </ul>
                    </div>

                    <div class="row d-block mt-2">
                        <h6 class="text-uppercase">Contact</h6>
                        <address>

                            <i class="fa fa-phone" aria-hidden="true" title="Phone"></i> 021-261-0008
                            <br />
                            <i class="fa fa-map-marker" aria-hidden="true" title="Address"></i> 31a Railway Ave, Lower Hutt, New Zealand
                        </address>
                        <p class="powered_by">Powered by <a href="https://github.com/ZombieFleshEaters/LittleBreadLoaf" aria-label="Github"><i class=" fa fa-heart" aria-hidden="true"></i></a></p>
                    </div>
                </div>
            </div>


            <!--COLUMN 3-->
            <div class="col-md-4 col-sm-6 border-bottom d-flex flex-row justify-content-center">
                <div>
                    <h6 class="text-uppercase text-center">Support</h6>
                    <ul class="list-unstyled align-self-center">
                        <li><a asp-page="/Privacy"><i class="fa fa-user-secret fa-fw" aria-hidden="true" title="Privacy"></i> Privacy</a></li>
                        <li><a asp-page="/Cookies"><i class="fa fa-id-card-o fa-fw" aria-hidden="true" title="Cookie consent"></i> Cookie Consent</a></li>
                        <li><a asp-page="/TermsAndConditions"><i class="fa fa-registered fa-fw" aria-hidden="true" title="Terms and conditions"></i> Terms and Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>