@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@ViewData["ReturnURL"]" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right mr-1">
            <li class="nav-item">
                @*<a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>*@
                <a class="nav-link" asp-page="/User/UserView" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item mr-1">
                <button class="btn btn-info" type="submit"><i class="fa fa-sign-out" aria-hidden="true" title="Logout"></i> Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right mr-1">
        <li class="nav-item mr-1">
            <a class="btn btn-info" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@ViewData["ReturnURL"]">
                <i class="fa fa-sign-in" aria-hidden="true" title="Login"></i> Login
            </a>
        </li>
    </ul>
}